*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family:Arial,sans-serif;
    background:#101820;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-container{
    width:100%;
    max-width:450px;
}

.encabezado{
    text-align:center;
    margin-bottom:30px;
}

.encabezado h1{
    font-size:42px;
    letter-spacing:2px;
    margin-bottom:10px;
}

.encabezado p{
    color:#aeb8c2;
    font-size:18px;
}

.login-card{
    background:#18232d;
    border:2px solid #263642;
    border-radius:18px;
    padding:35px;
    transition:.3s;
}

.login-card:hover{
    border-color:#4da3ff;
    box-shadow:0 12px 30px rgba(0,0,0,.45);
}

.icono{
    width:90px;
    height:90px;
    background:#101820;
    border-radius:50%;
    margin:0 auto 25px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:45px;
    color:#4da3ff;
}

.grupo{
    margin-bottom:20px;
}

.grupo label{
    display:block;
    margin-bottom:8px;
    color:#5daeff;
    font-weight:bold;
    font-size:14px;
}

.grupo input{
    width:100%;
    padding:14px;
    border:2px solid #263642;
    border-radius:10px;
    background:#101820;
    color:white;
    font-size:15px;
    outline:none;
}

.grupo input:focus{
    border-color:#4da3ff;
}

.btn-login{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#4da3ff;
    color:#101820;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.btn-login:hover{
    background:#69b5ff;
}

@media(max-width:600px){

    .encabezado h1{
        font-size:32px;
    }

    .login-card{
        padding:25px;
    }
}

.btn-secundario{
    width:100%;
    padding:14px;
    border:2px solid #4da3ff;
    border-radius:10px;
    background:transparent;
    color:#4da3ff;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    margin-top:14px;
}

.btn-secundario:hover{
    background:#4da3ff;
    color:#101820;
}
